# Import libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine

C:\Users\stb10\AppData\Local\Temp\ipykernel_24852\759018811.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df = pd.read_csv("csv/green_tripdata_2019-09.csv", low_memory=False)

In [5]:
df.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [7]:
df.head(15)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.00
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.00
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.00
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.00
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.00
5,2.0,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1.0,7,41,1.0,6.26,21.0,0.5,0.5,0.00,6.12,NaN,0.3,28.42,2.0,1.0,0.00
6,2.0,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1.0,33,37,1.0,4.34,18.0,0.5,0.5,3.86,0.00,NaN,0.3,23.16,1.0,1.0,0.00
7,1.0,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1.0,55,55,1.0,1.20,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,3.0,1.0,0.00
8,1.0,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1.0,55,89,1.0,0.00,22.2,0.0,0.5,0.00,0.00,NaN,0.3,23.00,1.0,1.0,0.00
9,2.0,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1.0,17,17,1.0,0.14,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2.0,1.0,0.00
10,1.0,2019-09-01 00:01:43,2019-09-01 00:13:13,N,1.0,129,7,1.0,1.90,9.5,0.5,0.5,0.00,0.00,NaN,0.3,10.80,2.0,1.0,0.00
11,1.0,2019-09-01 00:29:57,2019-09-01 00:57:26,N,1.0,179,215,1.0,0.00,30.2,0.0,0.5,0.00,0.00,NaN,0.3,31.00,1.0,1.0,0.00
12,2.0,2019-09-01 00:19:22,2019-09-01 00:46:01,N,1.0,129,171,5.0,6.08,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2.0,1.0,0.00
13,2.0,2019-09-01 00:39:37,2019-09-01 00:48:50,N,1.0,129,129,1.0,0.86,7.0,0.5,0.5,0.00,0.00,NaN,0.3,8.30,2.0,1.0,0.00
14,2.0,2019-09-01 00:13:37,2019-09-01 00:26:46,N,1.0,74,163,1.0,3.59,13.0,0.5,0.5,5.12,0.00,NaN,0.3,22.17,1.0,1.0,2.75

In [11]:
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])
df["lpep_dropoff_datetime"] = pd.to_datetime(df["lpep_dropoff_datetime"])

In [12]:
user = "root"
password = "root"
url = "localhost"
port = 5432
dbname = "ny_taxi"
table_name = "green_taxi_data"

In [13]:
engine = create_engine(f"postgresql://{user}:{password}@{url}:{port}/{dbname}")

In [14]:
engine.connect()

In [15]:
table_schema = pd.io.sql.get_schema(df, name=table_name, con=engine)

In [16]:
print(table_schema)

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

0

In [18]:
df.to_sql(name=table_name, con=engine, if_exists='append')

63