# Import libraries

Libraries needed to process data

In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

# Load Dataframes

A list of the compressed CSV files in order to load into a single dataframe

In [2]:
URLs = [
    "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz",
    "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-11.csv.gz",
    "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-12.csv.gz"
]

An empty data frame for initialization

In [3]:
df = pd.DataFrame()

Append each data frame created from each URL into a single data frame

In [4]:
for element in URLs:
    df_tmp = pd.read_csv(element, compression="gzip", low_memory=False)
    df = pd.concat([df,df_tmp])

In [5]:
df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.00
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.00
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.00
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.00
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.00
5,2.0,2020-10-01 00:04:50,2020-10-01 00:13:34,N,1.0,75,42,1.0,2.65,9.5,0.5,0.5,0.00,0.0,NaN,0.3,10.80,2.0,1.0,0.00
6,2.0,2020-10-01 00:49:30,2020-10-01 01:09:03,N,1.0,42,51,1.0,11.48,33.0,0.5,0.5,0.00,0.0,NaN,0.3,34.30,2.0,1.0,0.00
7,2.0,2020-10-01 00:54:35,2020-10-01 01:03:43,N,1.0,25,80,1.0,4.12,13.5,0.5,0.5,4.44,0.0,NaN,0.3,19.24,1.0,1.0,0.00
8,2.0,2020-10-01 01:00:05,2020-10-01 01:07:56,N,1.0,74,43,1.0,2.24,9.0,0.5,0.5,3.92,0.0,NaN,0.3,16.97,1.0,1.0,2.75
9,1.0,2020-10-01 00:46:58,2020-10-01 00:58:36,N,1.0,260,146,1.0,2.70,11.0,0.5,0.5,3.05,0.0,NaN,0.3,15.35,1.0,1.0,0.00

In [6]:
df.tail(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
83120,NaN,2020-12-31 22:03:00,2020-12-31 22:23:00,NaN,NaN,136,41,NaN,5.44,32.24,0.0,0.0,2.75,0.00,NaN,0.3,35.29,NaN,NaN,NaN
83121,NaN,2020-12-31 22:59:00,2020-12-31 23:11:00,NaN,NaN,126,213,NaN,2.48,18.95,0.0,0.0,2.75,0.00,NaN,0.3,22.00,NaN,NaN,NaN
83122,NaN,2020-12-31 22:17:00,2020-12-31 22:43:00,NaN,NaN,159,81,NaN,7.85,24.58,0.0,0.0,0.00,0.00,NaN,0.3,24.88,NaN,NaN,NaN
83123,NaN,2020-12-31 22:15:00,2020-12-31 22:56:00,NaN,NaN,61,18,NaN,20.80,52.26,0.0,0.0,2.75,6.12,NaN,0.3,61.43,NaN,NaN,NaN
83124,NaN,2020-12-31 23:49:00,2021-01-01 00:14:00,NaN,NaN,130,37,NaN,8.44,37.88,0.0,0.0,2.75,0.00,NaN,0.3,40.93,NaN,NaN,NaN
83125,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,NaN,7.04,20.33,0.0,0.0,0.00,0.00,NaN,0.3,20.63,NaN,NaN,NaN
83126,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,NaN,2.79,13.17,0.0,0.0,0.00,0.00,NaN,0.3,13.47,NaN,NaN,NaN
83127,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,NaN,12.41,45.12,0.0,0.0,2.75,0.00,NaN,0.3,48.17,NaN,NaN,NaN
83128,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,NaN,4.46,13.96,0.0,0.0,3.13,0.00,NaN,0.3,17.39,NaN,NaN,NaN
83129,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,NaN,10.34,39.95,0.0,0.0,2.75,0.00,NaN,0.3,43.00,NaN,NaN,NaN

## Transform columns

Transform columns into desired format such as:
- Set column names as lower case
- Replace all spaces from column names to underscore
- Set correct ID names as snake case

In [7]:
df_original_columns = df.columns
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [8]:
df.columns = (df.columns
              .str.lower()
              .str.replace(" ", "_")
              .str.replace("id","_id")
              .str.replace("pul","pu_l")
              .str.replace("dol","do_l")
)

In [9]:
df.columns

Index(['vendor_id', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'ratecode_id', 'pu_location_id', 'do_location_id',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

## Set date column
<a id='set_date_colum'></a>

Parse datetime columns from string into datetime

In [10]:
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])
df["lpep_dropoff_datetime"] = pd.to_datetime(df["lpep_dropoff_datetime"])

In [11]:
df["lpep_pickup_datetime"]

0       2020-10-01 00:31:19
1       2020-10-01 00:42:12
2       2020-10-01 00:53:09
3       2020-10-01 00:12:29
4       2020-10-01 00:32:38
                ...
83125   2020-12-31 23:02:00
83126   2020-12-31 23:39:00
83127   2020-12-31 23:09:00
83128   2020-12-31 23:01:00
83129   2020-12-31 23:12:00
Name: lpep_pickup_datetime, Length: 266855, dtype: datetime64[ns]

In [12]:
df["lpep_dropoff_datetime"]

0       2020-10-01 00:34:55
1       2020-10-01 00:43:51
2       2020-10-01 00:55:39
3       2020-10-01 00:20:08
4       2020-10-01 00:43:02
                ...
83125   2020-12-31 23:16:00
83126   2020-12-31 23:54:00
83127   2020-12-31 23:33:00
83128   2020-12-31 23:12:00
83129   2020-12-31 23:37:00
Name: lpep_dropoff_datetime, Length: 266855, dtype: datetime64[ns]

## Create date column

In [13]:
df["lpep_pickup_date"] = df["lpep_pickup_datetime"].dt.date

In [14]:
df["lpep_pickup_date"]

0        2020-10-01
1        2020-10-01
2        2020-10-01
3        2020-10-01
4        2020-10-01
            ...
83125    2020-12-31
83126    2020-12-31
83127    2020-12-31
83128    2020-12-31
83129    2020-12-31
Name: lpep_pickup_date, Length: 266855, dtype: object

## Filter data

Filter rows that do not have passengers nor trip distance

In [15]:
df_filtered = df[(df["passenger_count"] > 0) & (df["trip_distance"] > 0)]
df_filtered

,vendor_id,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecode_id,pu_location_id,do_location_id,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,...,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0,2020-10-01
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,...,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0,2020-10-01
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,...,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0,2020-10-01
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,...,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0,2020-10-01
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,...,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2020-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46287,2.0,2020-12-31 23:08:35,2020-12-31 23:13:00,N,1.0,41,74,1.0,0.79,5.0,...,0.5,0.00,0.0,NaN,0.3,6.30,2.0,1.0,0.0,2020-12-31
46288,2.0,2020-12-31 23:11:04,2020-12-31 23:20:08,N,5.0,41,116,2.0,2.31,12.0,...,0.0,0.00,0.0,NaN,0.3,12.30,2.0,2.0,0.0,2020-12-31
46289,2.0,2020-12-31 23:24:33,2020-12-31 23:40:24,N,5.0,116,119,1.0,5.73,20.0,...,0.0,0.00,0.0,NaN,0.3,20.30,2.0,2.0,0.0,2020-12-31
46290,2.0,2020-12-31 23:13:59,2020-12-31 23:16:20,N,1.0,42,42,1.0,0.31,3.5,...,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.0,2020-12-31
46291,2.0,2020-12-31 23:54:15,2021-01-01 00:11:17,N,1.0,75,167,1.0,3.74,15.0,...,0.5,1.00,0.0,NaN,0.3,17.30,1.0,1.0,0.0,2020-12-31

# Export Data

In [16]:
table = pa.Table.from_pandas(df_filtered)

In [17]:
from os import mkdir
try:
    mkdir("green_taxi_data")
except:
    pass

In [18]:
# pq.write_to_dataset(
# 	table,
# 	root_path="./green_taxi_data",
# 	partition_cols = ['lpep_pickup_date']
#     )

# Explore for answers

## Q1 - Data Loading
Once the dataset is loaded, what's the shape of the data?

In [19]:
df.shape

(266855, 21)

## Q2 - Data Transformation
Upon filtering the dataset where the passenger count is greater than 0 and the trip distance is greater than zero, how many rows are left?

In [20]:
df_filtered.shape

(139370, 21)

## Q3 - Data Transformation
Which of the following creates a new column ```lpep_pickup_date``` by converting ```lpep_pickup_datetime``` to a date?

As stated in [Set date column](#set_date_colum)

## Q4 - Data Transformation
What are the existing values of ```VendorID``` in the dataset?

In [21]:
df_filtered["vendor_id"].unique()

array([2., 1.])

## Q5 - Data Transformation
How many columns need to be renamed to snake case?

In [22]:
df_original_columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [23]:
df.columns

Index(['vendor_id', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'ratecode_id', 'pu_location_id', 'do_location_id',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'lpep_pickup_date'],
      dtype='object')

## Q6 - Data Exporting
Once exported, how many partitions (folders) are present in Google Cloud?

In [24]:
from os import listdir
folders = listdir('./green_taxi_data')
print(len(folders))

96